extensions:
	mail: Contributte\Mail\DI\MailExtension

mail:
	debug: %debug.panels.mail%
	mode: standalone
	mailer:
		factory: Contributte\Mail\Mailer\SendmailMailer

parameters:
	debug:
		panels:
			mail: false
